@using AirFrance.Model
@model Passager

<tr>
    <th scope="row">@Model.Id</th>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Birthdate</td>
    <td>@Model.IsCheckedId</td>
    <td>@Model.TicketPrice</td>
    <td>
        <p>@Model.Vol.Destination</p>
        <p>@Model.Vol.TakeOffDate</p>
    </td>
</tr>