@using AirFrance.Model
@model Passager

<p>
    <div class="col">@Model.Id</div>
    <div class="col">@Model.FirstName</div>
    <div class="col">@Model.LastName</div>
    <div class="col">@Model.Birthdate</div>
    <div class="col">@Model.IsCheckedId</div>
    <div class="col">@Model.TicketPrice</div>
</p>